
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--nx7 {
  width: 100%;
  height: 64rem;
  position: relative;
  overflow: hidden;
  background-color: #f7ede6;

  .auto-group-qwu7-UK9 {
    left: 5rem;
    top: 44.2rem;
    width: 30.1rem;
    height: 7.2rem;
    position: absolute;

    .rectangle-46-nKq {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7fc06c;
      border-radius: 1.5rem;
      width: 26rem;
      height: 7.2rem;
    }
    .item--uQT {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 24.5rem;
      left: 5.6rem;
      top: 2.3rem;
      font-weight: 400;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      line-height: 1.2125;
    }
  }
  .line-4-9pb {
    position: absolute;
    left: 1.3rem;
    top: 38.5rem;
    background-color: #7fc06c;
    width: 33rem;
    height: 0.1rem;
  }
  .line-5-Urs {
    height: 0.1rem;
    position: absolute;
    left: 1.3rem;
    top: 24.3rem;
    background-color: #7fc06c;
    width: 33rem;
  }
  .line-6-1ro {
    height: 0.1rem;
    position: absolute;
    left: 1.3rem;
    top: 21rem;
    background-color: #7fc06c;
    width: 33rem;
  }
  .line-7-Z7d {
    left: 1.5rem;
    top: 16.2rem;
    background-color: #7fc06c;
    width: 33rem;
    height: 0.1rem;
    position: absolute;
  }
  .auto-group-6bfv-VGB {
    width: 33.4rem;
    height: 1.5rem;
    position: absolute;
    left: 2.1rem;
    top: 5rem;
    display: flex;
    align-items: center;

    .item--p3Z {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.5rem;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .item--uao {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-9frz-1dq {
    height: 1.5rem;
    position: absolute;
    left: 2.2rem;
    top: 8.1rem;
    display: flex;
    align-items: flex-end;
    width: 29.65rem;

    .x-7wm {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.7rem 0.1rem 0rem;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--SDM {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 18.15rem;
    }
    .item-45-LpX {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-mrf9-s3m {
    width: 29.7rem;
    height: 1.5rem;
    position: absolute;
    left: 2.1rem;
    top: 17.6rem;
    display: flex;
    align-items: center;

    .item--zPH {
      margin-right: 24.2rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item-65-v23 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-19lj-rRV {
    width: 29.6rem;
    height: 1.5rem;
    position: absolute;
    left: 2.2rem;
    top: 10rem;
    display: flex;
    align-items: flex-end;

    .x-ASB {
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.7rem 0.1rem 0rem;
    }
    .item--Uxf {
      flex-shrink: 0;
      margin-right: 21.1rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-20-mgs {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
    }
  }
  .item--Gdd {
    height: 1.3rem;
    top: 14.3rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.1rem;
    position: absolute;
    left: 2.2rem;
    line-height: 1.2125;
  }
  .auto-group-6puh-8fq {
    height: 1.8rem;
    position: absolute;
    left: 6.7rem;
    top: 40.9rem;
    display: flex;
    align-items: center;
    width: 21.95rem;

    .item--Ti7 {
      flex-shrink: 0;
      margin: 0rem 10.35rem 0.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-65-xPy {
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .item--sG3 {
    height: 1.5rem;
    left: 2.1rem;
    font-size: 1.2rem;
    white-space: nowrap;
    width: 14.9rem;
    position: absolute;
    top: 21.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-camd-8xf {
    left: 2.2rem;
    top: 25.7rem;
    display: flex;
    align-items: center;
    width: 29.15rem;
    height: 3.2rem;
    position: absolute;

    .dollar-bill-1-TV9 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.4rem;
      width: 3.2rem;
      height: 3.2rem;
    }
    .thb-PNo {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 20.05rem 0.1rem 0rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .item--K1Z {
      flex-shrink: 0;
      font-size: 1.5rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      margin-top: 0.3rem;
      text-align: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-asvw-Sby {
    position: absolute;
    left: 2.5rem;
    top: 31.5rem;
    display: flex;
    align-items: center;
    width: 28.85rem;
    height: 2.6rem;

    .coupon-1-mu9 {
      height: 2.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.7rem;
      width: 2.6rem;
    }
    .item--6wR {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.15rem 0.1rem 0rem;
      font-size: 1.2rem;
    }
    .item--1Yb {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-gfrh-Las {
    position: absolute;
    left: 7.1rem;
    top: 54.8rem;
    font-size: 2.4rem;
    background-color: rgba(255, 0, 0, 0.6899999976);
    border-radius: 1.5rem;
    width: 21.8rem;
    height: 4.8rem;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    line-height: 1.2125;
    white-space: nowrap;
    display: flex;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
}
