
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--7o5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7ede6;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-ho4k-PEo {
    margin-bottom: 2.8rem;
    width: 100%;
    height: 11.5rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-13-8CP {
      width: 36rem;
      height: 10.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7fc06c;
    }
    .item--fi7 {
      color: #ffffff;
      width: 17.3rem;
      height: 4.4rem;
      left: 0.6rem;
      top: 2.5rem;
      font-size: 3.6rem;
      font-weight: 600;
      position: absolute;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--wfd {
      position: absolute;
      left: 1.2rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      top: 7.6rem;
      font-size: 1.5rem;
      font-weight: 400;
      width: 31.1rem;
    }
    .rectangle-54-PGj {
      border-radius: 2.5rem;
      width: 36rem;
      height: 2rem;
      position: absolute;
      left: 0;
      top: 9.5rem;
      background-color: #f7ede6;
    }
  }
  .item--iZu {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 3.1rem;
  }
  .auto-group-n1gb-pcw {
    padding: 1.7rem 7rem 8rem 6.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-k8mv-S8X {
      width: 22rem;
      height: 14.4rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 0.2rem;

      .maxresdefault-1-kf1 {
        left: 0;
        top: 0.4rem;
        background-size: 111.264% 101.012%;
        background-position: -1.4667rem -0.0065rem;
        width: 22rem;
        height: 14rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:01fd0b10f2b11d960b4630e858174ebfaafdd9f7');
        border-radius: 1rem;
      }
      .item-1-1-2Md {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        width: 22rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        height: 14.4rem;
      }
    }
    .item--ZVy {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.2rem 5.1rem;
      font-size: 2rem;
    }
    .auto-group-euw9-3R9 {
      height: 13.6rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      width: 100%;

      .image-4-NyD {
        vertical-align: top;
        border-radius: 1rem;
        width: 22rem;
        height: 13.6rem;
        position: absolute;
        left: 0.2rem;
        top: 0;
        object-fit: cover;
      }
      .rectangle-36-6eK {
        cursor: pointer;
        top: 0;
        vertical-align: top;
        border-radius: 2rem;
        width: 22.2rem;
        height: 13.6rem;
        position: absolute;
        left: 0;
        object-fit: cover;
      }
    }
    .item--pqD {
      margin-left: 1.5rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
