
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--EVD {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 64rem;

  .rectangle-1-WBq {
    width: 36rem;
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7ede6;
  }
  .rectangle-4-eYw {
    width: 36rem;
    height: 64rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7ede6;
    border-radius: 3.1rem;
  }
  .christmas-star113367-2-yr7 {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 11.5rem;
    top: 28.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .maxresdefault-1-hXD {
    position: absolute;
    left: 0;
    top: 3.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 39.5rem;
    height: 22.2rem;
  }
  .rectangle-7-dfm {
    background-color: #7fc06c;
    width: 36.6rem;
    height: 3.2rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rectangle-29-nHm {
    width: 13rem;
    height: 13rem;
    position: absolute;
    left: 2rem;
    top: 33.2rem;
    background-color: #7fc06c;
  }
  .rectangle-30-KYb {
    height: 13rem;
    position: absolute;
    left: 19.9rem;
    top: 33.2rem;
    background-color: #7fc06c;
    width: 13rem;
  }
  .rectangle-31-Teo {
    left: 2rem;
    top: 49.2rem;
    background-color: #7fc06c;
    width: 13rem;
    height: 13rem;
    position: absolute;
  }
  .rectangle-32-CcP {
    width: 13rem;
    height: 13rem;
    position: absolute;
    left: 19.9rem;
    top: 49.2rem;
    background-color: #7fc06c;
  }
  .rectangle-38-jsD {
    width: 13rem;
    height: 3.6rem;
    position: absolute;
    left: 2rem;
    top: 41.8rem;
    background-color: #fbc95c;
  }
  .rectangle-41-g1m {
    background-color: #fbc95c;
    width: 12.9rem;
    height: 3.6rem;
    position: absolute;
    left: 19.9rem;
    top: 57.6rem;
  }
  .rectangle-40-DGb {
    width: 12.9rem;
    height: 3.8rem;
    position: absolute;
    left: 2rem;
    top: 57.5rem;
    background-color: #fbc95c;
  }
  .photo-1-wTV {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 13rem;
    height: 8.2rem;
    position: absolute;
    left: 2rem;
    top: 34.6rem;
  }
  .njp3agti5nbaopooohv5-1-4Y7 {
    border-radius: 0.7rem;
    width: 12.9rem;
    height: 8.2rem;
    position: absolute;
    left: 2rem;
    top: 34.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item-50--yf5 {
    color: #000000;
    white-space: nowrap;
    width: 13.2rem;
    position: absolute;
    left: 4.4rem;
    top: 43.7rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
  }
  .rectangle-39-dUj {
    background-color: #fbc95c;
    width: 13rem;
    height: 3.6rem;
    position: absolute;
    left: 19.9rem;
    top: 41.8rem;
  }
  .r-1-NSK {
    top: 34.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 13rem;
    height: 8.2rem;
    position: absolute;
    left: 19.9rem;
  }
  .item-1-1-hDh {
    top: 34.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 1rem;
    width: 13.1rem;
    height: 8.2rem;
    position: absolute;
    left: 19.8rem;
  }
  .item-40--zCo {
    height: 1.3rem;
    position: absolute;
    left: 23.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 9.7rem;
    top: 43.7rem;
    font-size: 1rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .r-1-1-Gw1 {
    top: 50.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 13rem;
    height: 8.2rem;
    position: absolute;
    left: 2rem;
  }
  .item-40--og3 {
    width: 10.9rem;
    top: 59.4rem;
    font-size: 1rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    left: 4.4rem;
    font-weight: 400;
  }
  .item-1-VHy {
    vertical-align: top;
    border-radius: 0.9rem;
    width: 13rem;
    height: 8.2rem;
    position: absolute;
    left: 19.8rem;
    top: 50.4rem;
    object-fit: cover;
  }
  .item-60--6Yf {
    position: absolute;
    top: 59.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.4rem;
    height: 1.3rem;
    left: 22.3rem;
    font-size: 1rem;
    line-height: 1.2125;
  }
  .item--meo {
    width: 6.9rem;
    left: 2rem;
    font-size: 1rem;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    top: 31rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .imdv-hero-1-4P1 {
    height: 22.2rem;
    position: absolute;
    left: 0;
    top: 3.2rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0 2rem 0 0;
    width: 36rem;
  }
  .image-8-NuV {
    left: 0;
    top: 3rem;
    object-fit: cover;
    vertical-align: top;
    width: 36.3rem;
    height: 22.4rem;
    position: absolute;
  }
  .group-9-iCf {
    display: flex;
    padding: 1.3rem 0rem 0.7rem 0rem;
    left: 7.9rem;
    align-items: center;
    position: absolute;
    top: 19.9rem;
    flex-direction: column;
    background-color: #7fc06c;
    border-radius: 3rem;
    box-sizing: border-box;
    width: 21.3rem;
    height: 11.1rem;

    .item--Brw {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.4rem 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .auto-group-p5s5-5SX {
      border-radius: 1.7rem;
      margin-bottom: 0.3rem;
      width: 100%;
      display: flex;
      background-color: #fbc95c;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.2rem 1.9rem 0.9rem 0.6rem;
      align-items: center;

      .searchfind3519-1-bQs {
        width: 2.6rem;
        height: 2.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.1rem;
      }
      .auto-group-ndyh-KLs {
        box-sizing: border-box;
        padding: 0 0.2rem;
        width: 16.1rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        margin-top: 0.7rem;
        font-size: 1.2rem;
        font-family: Inter, 'Source Sans Pro';
        border-bottom: solid 0.1rem #ffffff;
        height: 1.9rem;
        text-align: center;
        line-height: 1.2125;
        flex-shrink: 0;
      }
    }
    .auto-group-fjgj-wt3 {
      width: calc(100% - 8.3rem);
      height: 1.8rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.8rem 0rem 4.5rem;

      .group-2-sWo {
        width: 7.9rem;
        height: 1.8rem;
        position: absolute;
        left: 5.1rem;
        top: 0;

        .christmas-star113367-1-Coy {
          height: 1.8rem;
          position: absolute;
          left: 1.5rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
        }
        .christmas-star113367-4-vzs {
          width: 1.8rem;
          height: 1.8rem;
          position: absolute;
          left: 3rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .christmas-star113367-5-4rB {
          position: absolute;
          left: 4.5rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
          height: 1.8rem;
        }
        .group-1-br7 {
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          width: 7.9rem;
          height: 1.8rem;
          position: absolute;

          .christmas-star113367-3-Loh {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.3rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: cover;
          }
          .christmas-star113367-6-HD9 {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .item-50-DsV {
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        top: 0.2rem;
        line-height: 1.2125;
        width: 5.9rem;
        height: 1.5rem;
        position: absolute;
        left: 0;
      }
    }
  }
  .a22021148b0b7497320ea918568-1-tij {
    height: 8.2rem;
    position: absolute;
    left: 19.8rem;
    top: 50.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 13rem;
  }
  .item-1-1HZ {
    position: absolute;
    left: 2rem;
    top: 34.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 13rem;
    height: 8.3rem;
  }
  .image-6-ebR {
    width: 12.9rem;
    left: 2rem;
    top: 34.6rem;
    vertical-align: top;
    height: 8.3rem;
    cursor: pointer;
    position: absolute;
    object-fit: cover;
    border-radius: 0.7rem;
  }
  .american-fried-rice1-1-1-N1d {
    left: 19.8rem;
    top: 50.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 13.1rem;
    height: 8.2rem;
    position: absolute;
  }
  .rectangle-66-5wd {
    vertical-align: top;
    border-radius: 0.8rem;
    width: 13rem;
    height: 8.2rem;
    cursor: pointer;
    left: 19.8rem;
    top: 50.4rem;
    object-fit: cover;
    position: absolute;
  }
  .rectangle-70-D2F {
    height: 8.3rem;
    cursor: pointer;
    left: 19.8rem;
    top: 34.6rem;
    object-fit: cover;
    border-radius: 0.9rem;
    width: 13.1rem;
    position: absolute;
    vertical-align: top;
  }
  .rectangle-70-89D {
    height: 8.2rem;
    position: absolute;
    top: 50.4rem;
    vertical-align: top;
    border-radius: 1rem;
    width: 12.9rem;
    cursor: pointer;
    left: 2rem;
    object-fit: cover;
  }
}
