
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--tQF {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7ede6;
  border-radius: 3.1rem;

  .rectangle-7-aXy {
    height: 3.2rem;
    background-color: #7fc06c;
    flex-shrink: 0;
    width: 100%;
  }
  .auto-group-kvz7-8Jb {
    width: 100%;
    height: 27.8rem;
    position: relative;
    flex-shrink: 0;

    .christmas-star113367-2-4CF {
      object-fit: cover;
      vertical-align: top;
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      left: 11.9rem;
      top: 25.4rem;
    }
    .maxresdefault-1-Am5 {
      width: 39.5rem;
      height: 22.2rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .imdv-hero-1-7AX {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0 2rem 0 0;
      width: 36rem;
      height: 22.2rem;
      position: absolute;
    }
    .rectangle-6-34B {
      background-color: #7fc06c;
      border-radius: 3rem;
      width: 21.3rem;
      height: 11.1rem;
      position: absolute;
      left: 8.3rem;
      top: 16.7rem;
    }
    .item--Maf {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 12.7rem;
      position: absolute;
      left: 14.7rem;
      font-family: Inter, 'Source Sans Pro';
      height: 1.9rem;
      top: 18.2rem;
      font-size: 1.5rem;
    }
    .rectangle-9-19R {
      background-color: #fbc95c;
      border-radius: 1.7rem;
      width: 21.3rem;
      height: 4.7rem;
      position: absolute;
      left: 8.3rem;
      top: 20.3rem;
    }
    .searchfind3519-1-8Uw {
      top: 21.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.6rem;
      height: 2.6rem;
      position: absolute;
      left: 8.9rem;
    }
    .line-1-rfq {
      width: 16.1rem;
      height: 0.1rem;
      position: absolute;
      left: 11.6rem;
      top: 24rem;
      background-color: #ffffff;
    }
    .item--zX9 {
      position: absolute;
      left: 11.8rem;
      text-align: center;
      line-height: 1.2125;
      width: 15.2rem;
      height: 1.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 22.2rem;
      font-size: 1.2rem;
    }
    .group-10-S8F {
      left: 17.9rem;
      top: 25.3rem;
      width: 7.9rem;
      height: 1.8rem;
      position: absolute;

      .christmas-star113367-1-MW7 {
        position: absolute;
        left: 1.5rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
      }
      .christmas-star113367-4-5h1 {
        height: 1.8rem;
        position: absolute;
        left: 3rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 1.8rem;
      }
      .christmas-star113367-5-pPh {
        left: 4.5rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
      }
      .christmas-star113367-3-9gs {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        left: 0;
      }
      .christmas-star113367-6-66K {
        position: absolute;
        left: 6.1rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
      }
    }
    .item-50-DRq {
      width: 5.9rem;
      height: 1.5rem;
      top: 25.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 12.8rem;
      white-space: nowrap;
    }
  }
  .item--upT {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 2.4rem;
  }
  .auto-group-nxdh-Dq9 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.9rem 1.7rem 1.8rem 2.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-udd9-KdH {
      margin-bottom: 3rem;
      width: 100%;
      height: 13rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-hetw-F19 {
        margin-right: 3.1rem;
        width: 14.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-29-9MR {
          top: 0;
          background-color: #7fc06c;
          width: 13rem;
          height: 13rem;
          position: absolute;
          left: 0;
        }
        .rectangle-38-4jH {
          background-color: #fbc95c;
          width: 13rem;
          height: 3.6rem;
          position: absolute;
          left: 0;
          top: 8.6rem;
        }
        .photo-1-QHM {
          vertical-align: top;
          border-radius: 0.9rem;
          width: 13rem;
          height: 8.2rem;
          position: absolute;
          left: 0;
          top: 1.4rem;
          object-fit: cover;
        }
        .njp3agti5nbaopooohv5-1-iJ3 {
          top: 1.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.7rem;
          width: 12.9rem;
          height: 8.2rem;
          position: absolute;
          left: 0;
        }
        .item-45--EGP {
          line-height: 1.2125;
          height: 1.3rem;
          position: absolute;
          font-size: 1rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 12.6rem;
          left: 2.1rem;
          top: 10.4rem;
          color: #000000;
        }
        .item-1-VTD {
          top: 1.4rem;
          width: 13rem;
          height: 8.3rem;
          position: absolute;
          vertical-align: top;
          border-radius: 0.8rem;
          cursor: pointer;
          left: 0;
          object-fit: cover;
        }
      }
      .auto-group-fwd9-v2j {
        width: 14.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-30-ezK {
          top: 0;
          background-color: #7fc06c;
          width: 13rem;
          height: 13rem;
          position: absolute;
          left: 0.1rem;
        }
        .rectangle-39-Pwu {
          background-color: #fbc95c;
          width: 13rem;
          height: 3.6rem;
          position: absolute;
          left: 0.1rem;
          top: 8.6rem;
        }
        .r-1-izB {
          top: 1.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.9rem;
          width: 13rem;
          height: 8.2rem;
          position: absolute;
          left: 0.1rem;
        }
        .item-1-1-FjD {
          height: 8.2rem;
          left: 0;
          top: 1.4rem;
          object-fit: cover;
          vertical-align: top;
          width: 13.1rem;
          cursor: pointer;
          position: absolute;
          border-radius: 1rem;
        }
        .item-45--YyD {
          left: 2.7rem;
          top: 10.4rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 11.4rem;
          height: 1.3rem;
          position: absolute;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-2wwf-RGK {
      width: calc(100% - 0.7rem);
      height: 13rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 0.7rem;

      .auto-group-w1fd-9TD {
        margin-right: 4rem;
        width: 13.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-31-VGB {
          height: 13rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #7fc06c;
          width: 13rem;
        }
        .rectangle-40-qaw {
          width: 13rem;
          height: 3.6rem;
          position: absolute;
          left: 0;
          top: 8.4rem;
          background-color: #fbc95c;
        }
        .r-1-1-mzP {
          left: 0;
          object-fit: cover;
          width: 13rem;
          position: absolute;
          top: 1.2rem;
          vertical-align: top;
          border-radius: 0.9rem;
          height: 8.2rem;
          cursor: pointer;
        }
        .item-50--JDd {
          height: 1.3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          width: 10.8rem;
          left: 3rem;
          top: 10.2rem;
          font-size: 1rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .oip-1-1-B2X {
          left: 0;
          top: 1.2rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.9rem;
          width: 13rem;
          height: 8.2rem;
          position: absolute;
        }
      }
      .auto-group-4hu9-VZ1 {
        width: 13.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-32-EmV {
          width: 13rem;
          height: 13rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
          background-color: #7fc06c;
        }
        .rectangle-41-BRq {
          height: 3.6rem;
          position: absolute;
          left: 0.1rem;
          top: 8.4rem;
          background-color: #fbc95c;
          width: 13rem;
        }
        .item-1-7qH {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.9rem;
          width: 13rem;
          height: 8.2rem;
          position: absolute;
          left: 0;
          top: 1.2rem;
        }
        .usa-70--um9 {
          height: 1.3rem;
          top: 10rem;
          font-size: 1rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 10.9rem;
          position: absolute;
          left: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .a22021148b0b7497320ea918568-1-bdy {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.9rem;
          width: 13rem;
          height: 8.2rem;
          position: absolute;
          left: 0;
          top: 1.2rem;
        }
        .american-fried-rice1-1-1-7cK {
          position: absolute;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.9rem;
          cursor: pointer;
          height: 8.2rem;
          left: 0;
          top: 1.2rem;
          width: 13.1rem;
        }
      }
    }
  }
}
