
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--wcK {
  background-color: #f7ede6;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-mthv-fHR {
    margin-bottom: 4.1rem;
    text-align: center;
    font-weight: 900;
    line-height: 1.2125;
    white-space: nowrap;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    background-color: #7fc06c;
    flex-shrink: 0;
    height: 9.2rem;
    align-items: center;
    width: 100%;
    font-size: 3.2rem;
    display: flex;
  }
  .username-LeT {
    flex-shrink: 0;
    margin-left: 3.4rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-sgrt-fgj {
    box-sizing: border-box;
    padding: 0.7rem 0rem 1.08rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-qopt-zDD {
      margin: 0rem 4.8rem 1.3rem 3.1rem;
      color: #000000;
      white-space: nowrap;
      width: calc(100% - 7.9rem);
      justify-content: center;
      background-color: #fbc95c;
      border-radius: 1.5rem;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      display: flex;
      height: 4.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
    }
    .password-3SP {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1rem 3.4rem;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #000000;
    }
    .auto-group-pwvf-AX1 {
      margin: 0rem 4.8rem 1.4rem 3.1rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      white-space: nowrap;
      background-color: #fbc95c;
      box-sizing: border-box;
      padding: 1.2rem 2.9rem 1.1rem 2.9rem;
      width: calc(100% - 7.9rem);
      font-size: 1.5rem;
      font-weight: 400;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .confirm-password-pLf {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 3.4rem;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
    }
    .auto-group-p62s-vPh {
      padding: 1.2rem 2.9rem 1.1rem 2.9rem;
      width: calc(100% - 7.9rem);
      font-weight: 400;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      background-color: #fbc95c;
      border-radius: 1.5rem;
      margin: 0rem 4.8rem 4.3rem 3.1rem;
      box-sizing: border-box;
      font-size: 1.5rem;
      line-height: 1.2125;
      color: #000000;
      flex-shrink: 0;
    }
    .auto-group-ppuf-aDM {
      position: relative;
      flex-shrink: 0;
      width: 34.0077rem;
      height: 21.4204rem;

      .rectangle-3-Jf9 {
        width: 21.8rem;
        height: 4.8rem;
        left: 6.3rem;
        top: 0;
        border: solid 0.05rem #000000;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        cursor: pointer;
        position: absolute;
        background-color: #ffffff;
        border-radius: 1.5rem;
      }
      .woman-1-1-b8T {
        vertical-align: top;
        width: 14.6rem;
        height: 14.6rem;
        position: absolute;
        left: 10.2rem;
        top: 6.2rem;
        object-fit: cover;
      }
      .tomatoes-1-7cb {
        height: 10.1813rem;
        position: absolute;
        left: 0;
        top: 4.8001rem;
        object-fit: cover;
        vertical-align: top;
        width: 10.1813rem;
      }
      .broccoli-2-3FM {
        width: 9.4451rem;
        height: 9.4451rem;
        position: absolute;
        left: 24.5626rem;
        top: 4.0826rem;
        object-fit: cover;
        vertical-align: top;
      }
      .vegetable-2-yPu {
        object-fit: cover;
        vertical-align: top;
        width: 8.2204rem;
        height: 8.2204rem;
        position: absolute;
        left: 1.9rem;
        top: 13.2rem;
      }
      .confirm-hqh {
        font-size: 1.6rem;
        font-weight: 900;
        font-family: Inter, 'Source Sans Pro';
        width: 6.9rem;
        height: 2rem;
        top: 1.6rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 13.6rem;
      }
      .paprika-1-CnT {
        vertical-align: top;
        width: 7.4484rem;
        height: 7.4484rem;
        position: absolute;
        left: 25.1148rem;
        top: 13.4146rem;
        object-fit: cover;
      }
    }
  }
}
