
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--pYP {
  flex-direction: column;
  background-color: #f7ede6;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-lnhd-83H {
    margin-bottom: 3rem;
    width: 100%;
    height: 10.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-f3D {
      top: 0;
      background-color: #7fc06c;
      width: 36rem;
      height: 9.1rem;
      position: absolute;
      left: 0;
    }
    .item--QFh {
      width: 11.6rem;
      position: absolute;
      top: 1rem;
      font-size: 4.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.9rem;
      left: 1rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .rectangle-54-UmM {
      width: 36rem;
      height: 2rem;
      position: absolute;
      left: 0;
      top: 8.1rem;
      background-color: #f7ede6;
      border-radius: 2.5rem;
    }
  }
  .item--Qf1 {
    margin-left: 4.7rem;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-ahdh-7ZR {
    box-sizing: border-box;
    padding: 3.4rem 5.4rem 8rem 5.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-56-F9q {
      margin: 0rem 0rem 0.8rem 0.3rem;
      width: 25.1rem;
      height: 12.5rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.3rem;
      flex-shrink: 0;
    }
    .item--xK9 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.5rem 6rem 0rem;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .rectangle-57-qNw {
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.3rem;
      flex-shrink: 0;
      margin: 0rem 0rem 0.7rem 0.3rem;
      width: 25.1rem;
      height: 12.5rem;
    }
    .item--kF1 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 8.3rem;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
}
