
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--KD9 {
  height: 64rem;
  position: relative;
  overflow: hidden;
  background-color: #f7ede6;
  width: 100%;

  .line-4-QEb {
    position: absolute;
    left: 1rem;
    top: 40.6rem;
    background-color: #7fc06c;
    width: 33rem;
    height: 0.1rem;
  }
  .line-5-L8F {
    width: 33rem;
    height: 0.1rem;
    position: absolute;
    left: 1rem;
    top: 26.4rem;
    background-color: #7fc06c;
  }
  .line-6-4a3 {
    width: 33rem;
    height: 0.1rem;
    position: absolute;
    left: 1rem;
    top: 23.1rem;
    background-color: #7fc06c;
  }
  .line-7-Qdu {
    height: 0.1rem;
    position: absolute;
    left: 1.2rem;
    top: 18.3rem;
    background-color: #7fc06c;
    width: 33rem;
  }
  .auto-group-g38b-A7H {
    align-items: flex-start;
    width: 34.2rem;
    height: 2rem;
    position: absolute;
    left: 1rem;
    top: 7.1rem;
    display: flex;

    .item--5k3 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 9.8rem;
    }
    .item--Nj9 {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-p8vj-tBh {
    display: flex;
    align-items: flex-end;
    width: 29.65rem;
    height: 1.5rem;
    position: absolute;
    left: 1.9rem;
    top: 10.2rem;

    .x-bro {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.7rem 0.1rem 0rem;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item--veB {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 18.15rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-45-2hD {
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-k8pf-Zx3 {
    display: flex;
    align-items: center;
    width: 29.7rem;
    height: 1.5rem;
    position: absolute;
    left: 1.8rem;
    top: 19.7rem;

    .item--Up7 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 24.2rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .item-65-orP {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .auto-group-6ed5-YJB {
    left: 1.9rem;
    top: 12.1rem;
    display: flex;
    align-items: flex-end;
    width: 29.6rem;
    height: 1.5rem;
    position: absolute;

    .x-fdh {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.7rem 0.1rem 0rem;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--b1Z {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 21.1rem;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .item-20-tmM {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
  }
  .item--diw {
    height: 1.3rem;
    position: absolute;
    left: 1.9rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    width: 3.1rem;
    font-size: 1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    top: 16.4rem;
  }
  .auto-group-d5d1-8Qo {
    height: 3.1rem;
    position: absolute;
    left: 7.9rem;
    top: 43.3rem;
    display: flex;
    align-items: center;
    width: 19.95rem;

    .item--s7V {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.25rem 0.1rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .item-65-kBH {
      margin-top: 0.1rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      flex-shrink: 0;
      font-size: 2.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .item--f3M {
    height: 1.5rem;
    top: 23.9rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.9rem;
    position: absolute;
    left: 1.8rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .auto-group-e4t1-uyH {
    align-items: center;
    width: 29.15rem;
    height: 3.2rem;
    position: absolute;
    left: 1.9rem;
    top: 27.8rem;
    display: flex;

    .dollar-bill-1-qc3 {
      margin-right: 2.4rem;
      width: 3.2rem;
      height: 3.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .thb-APR {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 20.05rem 0.1rem 0rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item--t4X {
      font-size: 1.5rem;
      line-height: 1.2125;
      flex-shrink: 0;
      white-space: nowrap;
      margin-top: 0.3rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-kzuz-QoZ {
    left: 2.2rem;
    top: 33.6rem;
    display: flex;
    align-items: center;
    width: 28.85rem;
    height: 2.6rem;
    position: absolute;

    .coupon-1-Y95 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.7rem;
      width: 2.6rem;
      height: 2.6rem;
      object-fit: cover;
    }
    .item--gWB {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.15rem 0.1rem 0rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .item--bNF {
      line-height: 1.2125;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .auto-group-pmax-oDR {
    height: 4.8rem;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.6899999976);
    left: 6.6rem;
    top: 55rem;
    font-size: 2.4rem;
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 21.8rem;
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    border-radius: 1.5rem;
  }
  .auto-group-cddr-4QF {
    width: 26.4rem;
    height: 4.8rem;
    position: absolute;
    left: 6.8rem;
    top: 49.1rem;

    .rectangle-73-PhR {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7fc06c;
      border-radius: 1.5rem;
      width: 21.8rem;
      height: 4.8rem;
      cursor: pointer;
    }
    .item--vBZ {
      width: 21.7rem;
      left: 4.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      top: 1rem;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .item--nUf {
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 17.3rem;
    height: 3rem;
    line-height: 1.2125;
    color: #000000;
    top: 2.5rem;
    font-weight: 400;
  }
}
