
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.login-9S7 {
  display: flex;
  flex-direction: column;
  background-color: #f7ede6;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-ftcs-t8o {
    width: 100%;
    height: 19.2rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 1.1rem;

    .rectangle-37-DRy {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7fc06c;
      width: 36rem;
      height: 10.1rem;
    }
    .rectangle-38-xPZ {
      height: 7.1rem;
      position: absolute;
      left: 0;
      top: 8.6rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #f7ede6;
      border-radius: 2rem;
      width: 36rem;
    }
    .username-f35 {
      top: 12.1rem;
      font-size: 1.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 8.2rem;
      position: absolute;
      font-weight: 900;
      line-height: 1.2125;
      white-space: nowrap;
      height: 2rem;
      left: 4.1rem;
    }
    .rectangle-17-xns {
      top: 14.7rem;
      background-color: #fbc95c;
      border-radius: 1.5rem;
      width: 28.1rem;
      height: 4.5rem;
      position: absolute;
      left: 4rem;
    }
    .login-gym {
      font-size: 3.2rem;
      font-weight: 900;
      line-height: 1.2125;
      white-space: nowrap;
      height: 3.9rem;
      top: 3.1rem;
      text-align: center;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 9rem;
      position: absolute;
      left: 13.55rem;
    }
    .chayangkoontarmutiacth-oYb {
      position: absolute;
      left: 5.8rem;
      font-weight: 400;
      white-space: nowrap;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 20.3rem;
      height: 1.9rem;
      top: 16.1rem;
      font-size: 1.5rem;
    }
  }
  .password-VRR {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 4.1rem;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.2125;
  }
  .auto-group-ruj5-DsD {
    box-sizing: border-box;
    padding: 1rem 0.67rem 1.6rem 0.531rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-c9bv-x47 {
      width: calc(100% - 6.699rem);
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 1.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 1.9rem 1.1rem 1.9rem;
      font-size: 1.5rem;
      line-height: 1.2125;
      white-space: nowrap;
      background-color: #fbc95c;
      margin: 0rem 3.23rem 3.6rem 3.469rem;
    }
    .auto-group-l6md-1HH {
      text-align: center;
      font-weight: 900;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      margin: 0rem 10.93rem 2rem 11.269rem;
      height: 4.9rem;
      line-height: 1.2125;
      white-space: nowrap;
      display: flex;
      color: #000000;
      border: solid 0.02rem #000000;
      border-radius: 2rem;
      width: calc(100% - 22.199rem);
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .auto-group-uen3-Evj {
      width: 100%;
      height: 24.1rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-33-mfm {
        width: 21rem;
        height: 4.6rem;
        position: absolute;
        border: solid 0.02rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        cursor: pointer;
        left: 7.2691rem;
        top: 0;
        box-sizing: border-box;
      }
      .create-new-account-3tB {
        height: 2rem;
        left: 9.7191rem;
        top: 1.3rem;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 16.1rem;
        position: absolute;
        text-align: center;
        font-weight: 900;
        line-height: 1.2125;
        color: #000000;
      }
      .eating-1-vh5 {
        position: absolute;
        left: 8.6691rem;
        top: 6.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 17.7rem;
        height: 17.7rem;
      }
      .paprika-1-cK1 {
        position: absolute;
        left: 0.8691rem;
        top: 4.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 8.478rem;
        height: 8.478rem;
      }
      .tomatoes-1-u3D {
        vertical-align: top;
        width: 10.3299rem;
        height: 10.3299rem;
        position: absolute;
        left: 24.4691rem;
        top: 3.4rem;
        object-fit: cover;
      }
      .vegetable-1-ciK {
        vertical-align: top;
        width: 8.2204rem;
        height: 8.2204rem;
        position: absolute;
        left: 25.5691rem;
        top: 13.2rem;
        object-fit: cover;
      }
      .broccoli-1-kJj {
        height: 10.9097rem;
        position: absolute;
        left: 0;
        top: 11.831rem;
        object-fit: cover;
        vertical-align: top;
        width: 10.9097rem;
      }
    }
  }
}
