
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.menu-LNB {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7ede6;
  width: 100%;
  overflow: hidden;

  .auto-group-ny5y-UUP {
    height: 16.7rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-13-1jD {
      width: 36rem;
      height: 15.3rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7fc06c;
    }
    .rectangle-24-Mo5 {
      position: absolute;
      left: 0.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      opacity: 0.07;
      width: 35.8rem;
      height: 15.3rem;
    }
    .rectangle-28-tHD {
      left: 9.1rem;
      top: 13.9rem;
      background-color: #fbc95c;
      border-radius: 2rem;
      width: 17.7rem;
      height: 2.8rem;
      position: absolute;
    }
    .menu-DKV {
      height: 3.9rem;
      left: 2.5rem;
      top: 3.2rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 9.6rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
    }
    .searchfind3519-1-iX9 {
      width: 1.3rem;
      height: 1.4rem;
      position: absolute;
      left: 10rem;
      top: 14.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-29-rNT {
      vertical-align: top;
      border-radius: 2rem;
      width: 14.3rem;
      height: 2rem;
      position: absolute;
      left: 11.8rem;
      top: 14.3rem;
      object-fit: contain;
    }
    .item--Nrb {
      top: 14.3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #6f6f6f;
      width: 4.3rem;
      position: absolute;
      left: 16.8rem;
      white-space: nowrap;
      height: 1.7rem;
      font-size: 1.4rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .rectangle-30-FvP {
      left: 0;
      top: 0;
      background-color: #7fc06c;
      width: 36rem;
      height: 15.3rem;
      position: absolute;
    }
    .rectangle-31-bzF {
      opacity: 0.07;
      width: 35.8rem;
      height: 15.3rem;
      position: absolute;
      left: 0.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-35-Xd1 {
      background-color: #fbc95c;
      border-radius: 2rem;
      width: 17.7rem;
      height: 2.8rem;
      position: absolute;
      left: 9.1rem;
      top: 13.9rem;
    }
    .menu-Fou {
      position: absolute;
      left: 2.5rem;
      top: 3.2rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      width: 9.6rem;
      height: 3.9rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .searchfind3519-2-Avs {
      position: absolute;
      left: 10rem;
      top: 14.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 1.3rem;
      height: 1.4rem;
    }
    .rectangle-36-6Zd {
      vertical-align: top;
      border-radius: 2rem;
      width: 14.3rem;
      height: 2rem;
      position: absolute;
      left: 11.8rem;
      top: 14.3rem;
      object-fit: contain;
    }
    .item--Rro {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.3rem;
      position: absolute;
      top: 14.3rem;
      font-size: 1.4rem;
      font-weight: 400;
      height: 1.7rem;
      left: 16.8rem;
      line-height: 1.2125;
      color: #6f6f6f;
    }
  }
  .auto-group-f9fm-vHm {
    box-sizing: border-box;
    padding: 0.3rem 1rem 4.3rem 1.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-1kxt-3dH {
      margin: 0rem 0.7rem 3.2rem 0rem;
      width: calc(100% - 0.7rem);
      height: 6.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-6h27-AT1 {
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:e12081623278254e2bb73a41dc6e3da01e2de060');
        flex-shrink: 0;

        .set-up-3-XHZ {
          object-fit: cover;
          vertical-align: top;
          width: 6.2rem;
          height: 6.2rem;
        }
      }
      .auto-group-zwks-dbV {
        padding: 1.1rem 0rem 1.1rem 2.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-vbyb-xtf {
          margin-right: 0.9rem;
          width: 15.9rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-26-hLT {
            background-color: #fbc95c;
            border-radius: 2rem;
            width: 7.5rem;
            height: 4rem;
            position: absolute;
            left: 8.4rem;
            top: 0;
          }
          .rectangle-27-61D {
            width: 7.5rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fbc95c;
            border-radius: 2rem;
          }
          .item--bTm {
            white-space: nowrap;
            width: 8.2rem;
            left: 1.1rem;
            top: 1.1rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            height: 1.9rem;
            position: absolute;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
          }
          .item--1A7 {
            color: #000000;
            white-space: nowrap;
            top: 1.1rem;
            font-size: 1.5rem;
            line-height: 1.2125;
            left: 10.5rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 3.7rem;
            height: 1.9rem;
            position: absolute;
          }
          .rectangle-33-UJb {
            left: 8.4rem;
            top: 0;
            background-color: #fbc95c;
            border-radius: 2rem;
            width: 7.5rem;
            height: 4rem;
            position: absolute;
          }
          .rectangle-34-CEb {
            width: 7.5rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fbc95c;
            border-radius: 2rem;
          }
          .item--Lbh {
            top: 1.1rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            color: #000000;
            width: 8.2rem;
            height: 1.9rem;
            position: absolute;
            left: 1.1rem;
            font-size: 1.5rem;
          }
          .item--dKu {
            top: 1.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            height: 1.9rem;
            left: 10.5rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.7rem;
            position: absolute;
          }
        }
        .auto-group-oert-icF {
          background-color: #fbc95c;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 7.5rem;
          height: 100%;
          position: relative;

          .item--4g7 {
            position: absolute;
            font-size: 1.5rem;
            font-family: Inter, 'Source Sans Pro';
            width: 3.7rem;
            height: 1.9rem;
            left: 2.6rem;
            top: 1.1rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
          }
          .rectangle-32-9xT {
            height: 4rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fbc95c;
            border-radius: 2rem;
            width: 7.5rem;
          }
          .item--tv3 {
            position: absolute;
            font-size: 1.5rem;
            white-space: nowrap;
            width: 3.7rem;
            height: 1.9rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            left: 2.6rem;
            top: 1.1rem;
          }
        }
      }
    }
    .auto-group-3uzx-ZWP {
      margin: 0rem 0rem 2.3rem 0.5rem;
      width: calc(100% - 0.5rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .ellipse-15-5zX {
        flex-shrink: 0;
        margin-right: 0.9rem;
        height: 9.5rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 4.75rem;
        width: 9.5rem;
        cursor: pointer;
        background-position: center;
        background-image: url('REPLACE_IMAGE:b684d26202bc4629f533461bc76b4f5d06f8a73e');
      }
      .auto-group-nwmm-o9q {
        margin-top: 0.6rem;
        width: 22.6rem;
        flex-shrink: 0;

        .auto-group-xeqm-8T1 {
          margin: 0rem 0rem 0.4rem 1.4rem;
          width: 12.7rem;
          height: 1.9rem;
          position: relative;

          .item--qsD {
            width: 12.7rem;
            height: 1.9rem;
            left: 0;
            font-size: 1.5rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .item--KXV {
            height: 1.9rem;
            top: 0;
            line-height: 1.2125;
            white-space: nowrap;
            width: 12.7rem;
            position: absolute;
            left: 0;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-fkck-QYw {
          height: 0.1rem;
          border-top: solid 0.1rem #7fc06c;
          box-sizing: border-box;
          width: 100%;
        }
        .auto-group-mvbm-LBh {
          box-sizing: border-box;
          padding: 0.2rem 0.6rem 0rem 0.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-z1ef-GLF {
            height: 1.9rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 10.4rem;

            .item--NPH {
              position: absolute;
              color: #000000;
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              width: 6rem;
              height: 1.9rem;
              left: 0;
              top: 0;
              font-size: 1.5rem;
            }
            .group-2-fdH {
              top: 0;
              width: 4.8rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;

              .christmas-star113367-1-ojV {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .christmas-star113367-4-XvP {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
              }
              .christmas-star113367-3-4fR {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
            .item--Cmd {
              width: 6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 0;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .group-3-W1d {
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;
              width: 4.8rem;

              .christmas-star113367-1-SR5 {
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-4-a1V {
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
              }
              .christmas-star113367-3-5U3 {
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
              }
            }
            .item--QWK {
              width: 6rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              top: 0;
              font-size: 1.5rem;
              font-weight: 400;
              color: #000000;
            }
            .group-8-WZM {
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;
              width: 4.8rem;

              .christmas-star113367-1-FG3 {
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-4-Ato {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .christmas-star113367-3-73M {
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
              }
            }
            .item--3Bu {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              left: 0;
              top: 0;
              font-size: 1.5rem;
              line-height: 1.2125;
              width: 6rem;
              height: 1.9rem;
              position: absolute;
              font-weight: 400;
            }
            .group-9-kMD {
              width: 4.8rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;

              .christmas-star113367-1-swd {
                height: 1.8rem;
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
              .christmas-star113367-4-Qgf {
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-3-kEj {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
          .auto-group-ocxw-UwR {
            width: 10.4rem;
            height: 1.9rem;
            position: relative;
            flex-shrink: 0;

            .item-45--cXq {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              width: 10.4rem;
              height: 1.9rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-45--7jV {
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              width: 10.4rem;
              font-size: 1.5rem;
              left: 0;
              top: 0;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              height: 1.9rem;
              position: absolute;
            }
            .item-45--dSw {
              font-size: 1.5rem;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
              width: 10.4rem;
              height: 1.9rem;
              position: absolute;
              font-family: Inter, 'Source Sans Pro';
              left: 0;
              top: 0;
              font-weight: 400;
            }
            .item-45--wCj {
              color: #000000;
              white-space: nowrap;
              width: 10.4rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .auto-group-lt2t-3Fm {
      height: 9.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 2.5rem 0.6rem;
      width: calc(100% - 0.6rem);

      .image-5-kR5 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 5.2rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 9.5rem;
        height: 9.5rem;
        cursor: pointer;
      }
      .auto-group-4ajb-Mvf {
        width: 22.6rem;
        height: calc(100% - 2.8rem);
        flex-shrink: 0;
        margin: 1.1rem 0rem 1.7rem 0rem;

        .auto-group-ozrr-tQo {
          width: 14.5rem;
          height: 1.9rem;
          position: relative;
          margin: 0rem 0rem 0.3rem 1.4rem;

          .item--1kK {
            width: 14.5rem;
            left: 0;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 1.9rem;
            position: absolute;
            top: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .item--VfV {
            height: 1.9rem;
            position: absolute;
            left: 0;
            font-size: 1.5rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 14.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            top: 0;
          }
        }
        .auto-group-uvps-awq {
          height: 0.1rem;
          border-top: solid 0.1rem #7fc06c;
          box-sizing: border-box;
          width: 100%;
        }
        .auto-group-3w7h-KeX {
          box-sizing: border-box;
          padding: 0.1rem 0.7rem 0rem 0.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-prtd-4MD {
            height: 1.9rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 12.1rem;

            .item--mWX {
              position: absolute;
              top: 0;
              font-size: 1.5rem;
              font-weight: 400;
              color: #000000;
              width: 6rem;
              left: 0;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.9rem;
            }
            .group-4-HDy {
              width: 4.8rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;

              .christmas-star113367-1-RLB {
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
              }
              .christmas-star113367-4-ZBV {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .christmas-star113367-3-6hD {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
            }
            .item--q91 {
              width: 6rem;
              top: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.9rem;
              position: absolute;
              left: 0;
            }
            .group-5-LLf {
              width: 6.5rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;

              .christmas-star113367-1-Uhm {
                height: 1.8rem;
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
              .christmas-star113367-4-DQT {
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
              .christmas-star113367-5-YSj {
                position: absolute;
                left: 4.7rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-3-UrB {
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
            }
            .item--pf9 {
              width: 6rem;
              position: absolute;
              left: 0;
              font-size: 1.5rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              height: 1.9rem;
              top: 0;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .group-10-YLF {
              left: 5.6rem;
              top: 0;
              width: 4.8rem;
              height: 1.8rem;
              position: absolute;

              .christmas-star113367-1-stK {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .christmas-star113367-4-1jd {
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-3-YjZ {
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
            }
            .item--fpB {
              width: 6rem;
              height: 1.9rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              color: #000000;
              white-space: nowrap;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.5rem;
              font-weight: 400;
            }
            .group-12-yZy {
              position: absolute;
              left: 5.6rem;
              top: 0;
              width: 6.5rem;
              height: 1.8rem;

              .christmas-star113367-1-vEK {
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-4-rdm {
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
              .christmas-star113367-5-Pdh {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 4.7rem;
                top: 0;
              }
              .christmas-star113367-3-ify {
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
            }
          }
          .auto-group-rbr7-Fvo {
            flex-shrink: 0;
            width: 10.4rem;
            height: 1.9rem;
            position: relative;

            .item-45--19H {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 0;
              font-weight: 400;
              width: 10.4rem;
              font-size: 1.5rem;
              white-space: nowrap;
            }
            .item-45--K9y {
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 0;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              width: 10.4rem;
              font-size: 1.5rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-45--pcX {
              left: 0;
              font-size: 1.5rem;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 10.4rem;
              position: absolute;
              line-height: 1.2125;
              height: 1.9rem;
              top: 0;
            }
            .item-45--v9m {
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.9rem;
              position: absolute;
              left: 0;
              top: 0;
              width: 10.4rem;
              font-size: 1.5rem;
              line-height: 1.2125;
              color: #000000;
            }
          }
        }
      }
    }
    .auto-group-4vm5-mgB {
      margin-left: 0.6rem;
      width: calc(100% - 0.6rem);
      height: 9.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-6-hZq {
        width: 9.5rem;
        height: 9.5rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        border-radius: 5.2rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
      }
      .auto-group-wscw-Qz3 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.9rem 0rem 1.9rem 0rem;
        width: 22.6rem;
        height: calc(100% - 2.8rem);
        align-items: center;
        display: flex;

        .auto-group-26bh-L71 {
          margin: 0rem 3.1rem 0.3rem 1.4rem;
          width: calc(100% - 4.5rem);
          height: 1.9rem;
          position: relative;
          flex-shrink: 0;

          .item--edV {
            height: 1.9rem;
            left: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 18.1rem;
            position: absolute;
            top: 0;
            font-size: 1.5rem;
            line-height: 1.2125;
            color: #000000;
          }
          .item--7my {
            left: 0;
            top: 0;
            font-size: 1.5rem;
            line-height: 1.2125;
            white-space: nowrap;
            width: 18.1rem;
            height: 1.9rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            font-weight: 400;
          }
        }
        .auto-group-urus-ndD {
          box-sizing: border-box;
          flex-shrink: 0;
          width: 100%;
          height: 0.1rem;
          border-top: solid 0.1rem #7fc06c;
        }
        .auto-group-pzzu-j2f {
          padding: 0.1rem 0.7rem 0rem 0.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-jk4t-efR {
            flex-shrink: 0;
            margin: 0rem 0rem 0.5rem 0.1rem;
            width: 12.1rem;
            height: 1.9rem;
            position: relative;

            .item--xRD {
              width: 6rem;
              height: 1.9rem;
              top: 0;
              font-size: 1.5rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              left: 0;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
            }
            .group-6-U8f {
              width: 4.8rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;

              .christmas-star113367-1-1PV {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 1.5rem;
                top: 0;
              }
              .christmas-star113367-4-LwZ {
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
              .christmas-star113367-3-H67 {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .item--pLw {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              height: 1.9rem;
              left: 0;
              top: 0;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 6rem;
              position: absolute;
            }
            .group-7-jTu {
              width: 6.5rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;

              .christmas-star113367-1-UgP {
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-4-R5q {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
              }
              .christmas-star113367-5-YRM {
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 4.7rem;
              }
              .christmas-star113367-3-UZu {
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
              }
            }
            .item--1pj {
              width: 6rem;
              height: 1.9rem;
              position: absolute;
              left: 0;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              top: 0;
              font-size: 1.5rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .group-11-jEw {
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;
              width: 4.8rem;

              .christmas-star113367-1-UTR {
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-4-DR1 {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .christmas-star113367-3-kQw {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .item--t1M {
              line-height: 1.2125;
              width: 6rem;
              font-size: 1.5rem;
              left: 0;
              top: 0;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.9rem;
              position: absolute;
            }
            .group-13-zaB {
              width: 6.5rem;
              height: 1.8rem;
              position: absolute;
              left: 5.6rem;
              top: 0;

              .christmas-star113367-1-jXm {
                position: absolute;
                left: 1.5rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
              }
              .christmas-star113367-4-sdy {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 3rem;
                top: 0;
              }
              .christmas-star113367-5-pJK {
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 4.7rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .christmas-star113367-3-MJF {
                object-fit: cover;
                vertical-align: top;
                width: 1.8rem;
                height: 1.8rem;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
          .auto-group-mfnx-6Fq {
            width: 10.4rem;
            height: 1.9rem;
            position: relative;
            flex-shrink: 0;

            .item-45--3B5 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 10.4rem;
              position: absolute;
              top: 0;
              font-weight: 400;
              height: 1.9rem;
              left: 0;
              font-size: 1.5rem;
              line-height: 1.2125;
            }
            .item-45--MBm {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              width: 10.4rem;
              height: 1.9rem;
              top: 0;
              font-size: 1.5rem;
              white-space: nowrap;
              position: absolute;
              left: 0;
            }
            .item-45--TVh {
              width: 10.4rem;
              height: 1.9rem;
              top: 0;
              font-size: 1.5rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 0;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .item-45--ZYj {
              width: 10.4rem;
              height: 1.9rem;
              top: 0;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              color: #000000;
              position: absolute;
              left: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
      }
    }
  }
}
