
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.rmuti-order-food-home-gRV {
  flex-direction: column;
  background-color: #f7ede6;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-hamd-DgK {
    width: 37.35rem;
    height: 14.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-12-ZEP {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7fc06c;
      width: 36rem;
      height: 12.6rem;
    }
    .rectangle-8-up3 {
      top: 10.2rem;
      background-color: #ffffff;
      border-radius: 1.5rem;
      width: 32.8rem;
      height: 3.9rem;
      position: absolute;
      left: 1.6rem;
    }
    .searchfind3519-1-qhh {
      width: 2.6rem;
      height: 2.6rem;
      position: absolute;
      left: 2.5rem;
      top: 10.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .line-3-AV5 {
      left: 6.2rem;
      top: 13.3rem;
      background-color: #000000;
      width: 24.7rem;
      height: 0.1rem;
      position: absolute;
    }
    .item--gyD {
      top: 11.5rem;
      font-size: 1rem;
      line-height: 1.2125;
      color: #000000;
      width: 8.5rem;
      height: 1.3rem;
      position: absolute;
      left: 5.05rem;
      text-align: center;
      font-weight: 900;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--kCP {
      left: 25.45rem;
      color: #000000;
      cursor: pointer;
      position: absolute;
      top: 7.3rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 900;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 11.9rem;
      height: 1.4rem;
      white-space: nowrap;
    }
    .frame-3-bTu {
      overflow: hidden;
      width: 36rem;
      height: 12.5rem;
      position: absolute;
      left: 0;
      top: 0;

      .frame-4-LgP {
        position: relative;
        box-sizing: border-box;
        padding: 1.3rem 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .frame-5-5ts {
          width: 100%;
          height: 7.4rem;
          position: relative;
          overflow: hidden;

          .ellipse-1-Rxj {
            background-color: #f7ede6;
            border-radius: 2.05rem;
            width: 4.1rem;
            height: 4.1rem;
            position: absolute;
            left: 30.7rem;
            top: 0;
          }
          .login-avatar-1-MbV {
            left: 30.9rem;
            top: 0.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 3.7rem;
            height: 3.7rem;
            cursor: pointer;
            position: absolute;
          }
          .rectangle-73-5Gb {
            background-color: #ffffff;
            border-radius: 0.6rem;
            width: 8.5rem;
            height: 1.6rem;
            position: absolute;
            left: 27.2rem;
            top: 5.8rem;
          }
          .cart-1-QJs {
            cursor: pointer;
            position: absolute;
            left: 24.6rem;
            top: 5.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 1.9rem;
            height: 1.9rem;
          }
          .frame-2-w3u {
            width: 34.7rem;
            height: 5rem;
            position: absolute;
            left: 0;
            top: 1rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 1.2rem 0rem 0.7rem 1.6rem;
            overflow: hidden;

            .frame-6-EYo {
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.7rem;
              flex-shrink: 0;
              margin-right: 17.1rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              display: flex;
              box-sizing: border-box;
              padding: 0.2rem 0.65rem 0.3rem 0.1rem;

              .r-2-m2w {
                width: 2.2rem;
                height: 2.6rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.25rem;
              }
              .rmuti-order-food-6L7 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-weight: 900;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.5rem;
                text-align: center;
                font-size: 1rem;
              }
            }
            .chayangkoonta-am5 {
              margin-top: 1.4rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 0.5rem;
              font-weight: 400;
              color: #000000;
            }
          }
        }
      }
    }
  }
  .auto-group-r7ix-JSB {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 1.15rem 3.4rem 1.6rem;

    .auto-group-skmr-27H {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 16.15rem 2.5rem 0rem;
      width: calc(100% - 16.15rem);
      height: 3.1rem;
      display: flex;

      .auto-group-xpoy-wV9 {
        border-radius: 5.1rem;
        flex-shrink: 0;
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-right: 0.1rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        width: 9.7rem;
        height: 100%;
        font-weight: 900;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        background-color: #fbc95c;
      }
      .auto-group-sbur-cbH {
        width: 7.3rem;
        height: 1.7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-26-AMu {
          cursor: pointer;
          position: absolute;
          left: 0.5rem;
          top: 0;
          background-color: #ffffff;
          border-radius: 5.1rem;
          width: 6.3rem;
          height: 1.7rem;
        }
        .item--toh {
          text-align: center;
          line-height: 1.2125;
          position: absolute;
          top: 0;
          cursor: pointer;
          left: 0;
          font-size: 1.2rem;
          font-weight: 900;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 7.3rem;
          height: 1.5rem;
          white-space: nowrap;
        }
      }
    }
    .auto-group-m7yb-aAj {
      width: calc(100% - 0.65rem);
      height: 7.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.65rem 1rem 0rem;

      .auto-group-tmsx-hFM {
        padding: 0.2rem 1.4rem 0rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 1.4rem;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;

        .ellipse-2-c7R {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:950fea8ef420c90dc8960884bd0bfca2cce58b86');
          border-radius: 3.55rem;
          flex-shrink: 0;
          cursor: pointer;
          background-size: 100% 100%;
          background-color: #d9d9d9;
          width: 7.1rem;
          height: 7.1rem;
        }
        .ellipse-3-WyV {
          background-image: url('REPLACE_IMAGE:00475abbef0a4fa520e54e3ccb01d15e0a917be1');
          width: 7.1rem;
          height: 7.1rem;
          cursor: pointer;
          background-color: #d9d9d9;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 3.55rem;
          flex-shrink: 0;
        }
        .ellipse-4-3Cj {
          width: 7.1rem;
          height: 7.1rem;
          background-position: center;
          flex-shrink: 0;
          cursor: pointer;
          background-color: #d9d9d9;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:fc434701274fc6e353b73d1ef15bd5d33f0862e7');
          border-radius: 3.55rem;
        }
      }
      .auto-group-ecjq-MjD {
        width: 7.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-5-uVq {
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #d9d9d9;
          border-radius: 3.55rem;
          width: 7.1rem;
          height: 7.1rem;
        }
        .image-7-3M9 {
          height: 7.3rem;
          position: relative;
          left: 0;
          background-position: -2.405rem 0;
          background-image: url('REPLACE_IMAGE:c49446c21ecfcc5ce6ed3e486e7c0a3d418c5ad4');
          border-radius: 3.65rem;
          width: 7.1rem;
          cursor: pointer;
          top: 0;
          background-size: 166.337% 100%;
        }
      }
    }
    .auto-group-fefr-vvj {
      margin: 0rem 0rem 3.5rem 1.35rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--s5H {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 1rem;
        font-weight: 900;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.3rem;
      }
      .item--B5y {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        text-align: center;
        font-size: 1rem;
        font-weight: 900;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.9rem;
      }
      .item--Heo {
        text-align: center;
        font-size: 1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #000000;
      }
      .item--z3R {
        font-weight: 900;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1rem;
      }
    }
    .auto-group-clzm-tPh {
      margin: 0rem 0.45rem 2.8rem 0rem;
      width: calc(100% - 0.45rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-20-RPd {
        margin-right: 5.8rem;
        width: 13.5rem;
        height: 10.2rem;
        background-image: url('REPLACE_IMAGE:87a621a073d0fc4f9309e6bfb81d1a80fa4f60cd');
        background-repeat: repeat;
        background-size: 100% 100%;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-21-jfD {
        width: 13.5rem;
        height: 10.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .auto-group-6ghu-sFd {
      width: 8.9rem;
      height: 2.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #fbc95c;
      margin-bottom: 2.8rem;
      text-align: center;
      line-height: 1.2125;
      align-items: center;
      justify-content: center;
      border-radius: 5.1rem;
      font-size: 1rem;
      font-weight: 900;
      display: flex;
      flex-shrink: 0;
    }
    .auto-group-j1vp-k4X {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-23-hkT {
        margin-right: 1.7rem;
        width: 9.8rem;
        height: 7.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-24-RAf {
        margin-right: 1.4rem;
        width: 9.8rem;
        height: 7.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .rectangle-25-LoR {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 9.8rem;
        height: 7.4rem;
      }
    }
  }
}
