
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--7o5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7ede6;
}
.item--7o5 .auto-group-ho4k-PEo {
  margin-bottom: 2.8rem;
  width: 100%;
  height: 11.5rem;
  position: relative;
  flex-shrink: 0;
}
.item--7o5 .auto-group-ho4k-PEo .rectangle-13-8CP {
  width: 36rem;
  height: 10.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #7fc06c;
}
.item--7o5 .auto-group-ho4k-PEo .item--fi7 {
  width: 17.3rem;
  height: 4.4rem;
  position: absolute;
  left: 0.6rem;
  top: 2.5rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--7o5 .auto-group-ho4k-PEo .item--wfd {
  width: 31.1rem;
  height: 1.9rem;
  position: absolute;
  left: 1.2rem;
  top: 7.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--7o5 .auto-group-ho4k-PEo .rectangle-54-PGj {
  width: 36rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 9.5rem;
  background-color: #f7ede6;
  border-radius: 2.5rem;
}
.item--7o5 .item--iZu {
  margin-left: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--7o5 .auto-group-n1gb-pcw {
  box-sizing: border-box;
  padding: 1.7rem 7rem 8rem 6.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--7o5 .auto-group-n1gb-pcw .auto-group-k8mv-S8X {
  margin: 0rem 0rem 0.9rem 0.2rem;
  width: 22rem;
  height: 14.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--7o5 .auto-group-n1gb-pcw .auto-group-k8mv-S8X .maxresdefault-1-kf1 {
  width: 22rem;
  height: 14rem;
  position: relative;
  left: 0;
  top: 0.4rem;
  background-size: 111.264% 101.012%;
  background-position: -1.4667rem -0.0065rem;
  background-image: url('../assets/maxresdefault-1-1a7.png');
  border-radius: 1rem;
}
.item--7o5 .auto-group-n1gb-pcw .auto-group-k8mv-S8X .item-1-1-2Md {
  width: 22rem;
  height: 14.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.item--7o5 .auto-group-n1gb-pcw .item--ZVy {
  margin: 0rem 0rem 2.2rem 5.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--7o5 .auto-group-n1gb-pcw .auto-group-euw9-3R9 {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 13.6rem;
  position: relative;
  flex-shrink: 0;
}
.item--7o5 .auto-group-n1gb-pcw .auto-group-euw9-3R9 .image-4-NyD {
  width: 22rem;
  height: 13.6rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.item--7o5 .auto-group-n1gb-pcw .auto-group-euw9-3R9 .rectangle-36-6eK {
  width: 22.2rem;
  height: 13.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.item--7o5 .auto-group-n1gb-pcw .item--pqD {
  margin-left: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
