
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--RM9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7ede6;
}
.item--RM9 .auto-group-c4vm-7Dy {
  margin-bottom: 2.9rem;
  width: 36.6rem;
  height: 16.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-13-D27 {
  width: 36rem;
  height: 15.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #7fc06c;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-24-wD1 {
  opacity: 0.07;
  width: 35.8rem;
  height: 15.3rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-28-FUb {
  width: 17.7rem;
  height: 2.8rem;
  position: absolute;
  left: 9.1rem;
  top: 13.9rem;
  background-color: #fbc95c;
  border-radius: 2rem;
}
.item--RM9 .auto-group-c4vm-7Dy .menu-aFy {
  width: 9.6rem;
  height: 3.9rem;
  position: absolute;
  left: 2.5rem;
  top: 3.2rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-c4vm-7Dy .searchfind3519-1-4S3 {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 10rem;
  top: 14.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-29-aQP {
  width: 14.3rem;
  height: 2rem;
  position: absolute;
  left: 11.8rem;
  top: 14.3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.item--RM9 .auto-group-c4vm-7Dy .item--6Nj {
  width: 4.3rem;
  height: 1.7rem;
  position: absolute;
  left: 16.8rem;
  top: 14.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #6f6f6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-30-PMq {
  width: 36rem;
  height: 15.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #7fc06c;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-31-XU3 {
  opacity: 0.07;
  width: 35.8rem;
  height: 15.3rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-35-Few {
  width: 17.7rem;
  height: 2.8rem;
  position: absolute;
  left: 9.1rem;
  top: 13.9rem;
  background-color: #fbc95c;
  border-radius: 2rem;
}
.item--RM9 .auto-group-c4vm-7Dy .item--mtB {
  width: 34.6rem;
  height: 3.9rem;
  position: absolute;
  left: 2rem;
  top: 2.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-c4vm-7Dy .item--DkB {
  width: 13.6rem;
  height: 1.9rem;
  position: absolute;
  left: 2.1rem;
  top: 6.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-c4vm-7Dy .searchfind3519-2-h9Z {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 10rem;
  top: 14.6rem;
  object-fit: cover;
  vertical-align: top;
}
.item--RM9 .auto-group-c4vm-7Dy .rectangle-36-R5Z {
  width: 14.3rem;
  height: 2rem;
  position: absolute;
  left: 11.8rem;
  top: 14.3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.item--RM9 .auto-group-c4vm-7Dy .item--ME7 {
  width: 4.3rem;
  height: 1.7rem;
  position: absolute;
  left: 16.8rem;
  top: 14.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #6f6f6f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .item--FaP {
  margin-left: 2.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D {
  box-sizing: border-box;
  padding: 2.6rem 1rem 5.5rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 9.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-jwlb-cJT {
  margin-right: 0.9rem;
  width: 9.5rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg.png');
  border-radius: 4.75rem;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-jwlb-cJT .ellipse-16-Yhu {
  width: 100%;
  height: 9.5rem;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-16-bg.png');
  border-radius: 4.75rem;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd {
  margin-top: 0.6rem;
  width: 22.6rem;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-qkm9-z47 {
  margin: 0rem 0rem 0.4rem 1.4rem;
  width: 12.7rem;
  height: 1.9rem;
  position: relative;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-qkm9-z47 .item--JKh {
  width: 12.7rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-qkm9-z47 .item--PM9 {
  width: 12.7rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-g4px-Tbu {
  margin-bottom: 0.1rem;
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #7fc06c;
  box-sizing: border-box;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .item-2-5-66-yq9 {
  margin: 0rem 0rem 0.6rem 0.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-hdhr-3q1 {
  margin-left: 0.6rem;
  width: 10.4rem;
  height: 1.9rem;
  position: relative;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-hdhr-3q1 .item-45--nnb {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-hdhr-3q1 .item-45--hPm {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-hdhr-3q1 .item-45--bk3 {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ukkd-5ZR .auto-group-6djd-Eqd .auto-group-hdhr-3q1 .item-45--W6K {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ {
  margin: 0rem 0rem 2.5rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 9.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-xaph-7ro {
  margin-right: 0.8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-5-bg.png');
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-xaph-7ro .image-10-sLB {
  width: 9.5rem;
  height: 9.5rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5.2rem;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 {
  margin: 1.1rem 0rem 1.7rem 0rem;
  width: 22.6rem;
  height: calc(100% - 2.8rem);
  row-gap: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-szrq-Uqm {
  margin-left: 1.4rem;
  width: 14.5rem;
  height: 1.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-szrq-Uqm .item--RW7 {
  width: 14.5rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-szrq-Uqm .item--X3M {
  width: 14.5rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-fhcj-c4o {
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #7fc06c;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .item-17-9-66-LmV {
  margin-left: 0.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-6367-2eK {
  margin-left: 0.7rem;
  width: 10.4rem;
  height: 1.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-6367-2eK .item-45--AkX {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-6367-2eK .item-45--H4T {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-6367-2eK .item-45--n1D {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-pw19-bdZ .auto-group-mvry-ye7 .auto-group-6367-2eK .item-45--gcP {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 {
  margin-left: 0.1rem;
  width: calc(100% - 0.1rem);
  height: 9.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sevd-WbR {
  margin-right: 0.8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-6-bg.png');
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sevd-WbR .image-11-TmZ {
  width: 9.5rem;
  height: 9.5rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5.2rem;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju {
  margin: 0.9rem 0rem 1.9rem 0rem;
  width: 22.6rem;
  height: calc(100% - 2.8rem);
  flex-shrink: 0;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-t5ax-hfu {
  margin: 0rem 3.1rem 0.3rem 1.4rem;
  width: calc(100% - 4.5rem);
  height: 1.9rem;
  position: relative;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-t5ax-hfu .item--1wV {
  width: 18.1rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-t5ax-hfu .item--J9u {
  width: 18.1rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-geik-y19 {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #7fc06c;
  box-sizing: border-box;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .item-23-2-67-VEP {
  margin-left: 0.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-wzhv-yfM {
  margin-left: 0.7rem;
  width: 10.4rem;
  height: 1.9rem;
  position: relative;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-wzhv-yfM .item-45--hrF {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-wzhv-yfM .item-45--D3u {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-wzhv-yfM .item-45--iFZ {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--RM9 .auto-group-tj2o-N9D .auto-group-ungo-P11 .auto-group-sn5d-yju .auto-group-wzhv-yfM .item-45--21M {
  width: 10.4rem;
  height: 1.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
